@import url(/css/960.css);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display&v1);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(/css/hashgrid.css);
@import url(/css/accordion.css);

* {
  	margin:0;
	padding:0;
}

html,
body {
	font-size: 16px;
	line-height:20px;
	font-family: 'Droid Serif', arial, serif;
	width: 100%;
	height: 100%;
	background-color: #dcdcdc;
}

h2, h3, h4 {
	color: black;
	font-family: 'Playfair Display', arial, serif;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: black;
}

.hide {
	visibility:hidden;
}

#top,
#middle,
#bottom {
	background-color: white;
}

#top,
#middle {
	padding-top: 20px;
}

#bottom {
	padding-bottom: 20px;
}

.barra {
	font-size: 16px;
	line-height: 18px;
	height: 18px;
	text-align:center;
	background-color: #ffd71d;
	border-radius: 10px;
	border: 1px solid #757575;
	text-align:center;
}

#flagit,
#flagen {
	height: 18px;
	width: 58px;
	border-radius: 10px;
	border: 1px solid #757575;
}

#flagit {
	background:url(/images/it.jpg) no-repeat center center;
}

#flagen {
	background:url(/images/en.jpg) no-repeat center center;
}

header {
	margin: 20px 0 20px 0;
}

#title {
	height: 278px;
	width: 778px;
	border-radius: 10px;
	border: 1px solid #757575;
	background: url('/images/header.png') center no-repeat;
	background-color: #dcdcdc;
	text-align: right;
}

#title p {
	padding-top: 200px;
	padding-right: 80px;
	color: #7a7a7a;
}

#boxsx p {
	margin-bottom: 20px;
}

#boxsx h2,
#boxsx h3,
#boxsx h4 {
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#boxsx h3 {
	font-size: 24px;
}

#boxsx h4 {
	font-size: 20px;
}

#boxsx img {
	width: 460px;
	height:300px;
	border-radius: 10px;
}

#boxsx img.thumb {
	float: left;
	margin: 0 20px 20px 0;
	height: 140px;
	width: 140px;
}

#boxsx img.back {
	height: 40px;
	width: 40px;
}

#boxsx a {
	color: #000000;
	text-decoration: underline;
	transition: #400020;
	transition-duration: 4000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 4000ms;
	-moz-transition: color; 
	-moz-transition-duration: 4000ms;
	-o-transition: color; 
	-o-transition-duration: 4000ms;
}

#boxsx a:hover {
	color: #ffd71d;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}

#boxsx ul {
	margin: 20px;
	padding: 0 0 0 20px;
}

#boxsx ul li.active {
	font-weight:bold;
	text-transform:uppercase;
}

#boxsx ul li.active a {
	text-decoration: none;
}

#boxsx ul li.active a:hover {
	color: black;
}

#back img {
	width: 40px;
	height: 40px;
	float: left;
}

#back p {
	line-height: 40px;
}

.center {
	text-align: center;
}

.controls {
	text-align: center;
}

#slider {
	width: 460px;
	margin-bottom: 20px;
}

#slider .pagination {
    	list-style:none outside none;
    	padding: 0 15px 0 0;
	overflow:hidden;
}

#slider .pagination li {
    	cursor:pointer;
	display:inline-block;
	margin-left:0;
	background-color:#7a7a7a;
	border-radius:10px 10px 10px 10px;
	height:8px;
	text-indent:10000px;
	width:8px;
}

#slider .pagination li.current {
	background-color:#ffd71d;
}

nav {
	width: 300px;
	color: #000;
	text-align:center;
	text-transform: capitalize;
	margin-bottom: 20px;
}

nav a {
	display: block;
	text-decoration: none;
	line-height: 39px;
	background-color: #dcdcdc;
	border-bottom: 1px solid #7a7a7a;
	border-left: 1px solid #7a7a7a;
	border-right: 1px solid #7a7a7a;
}

nav a:hover {
	text-decoration: underline;
}

nav a.current {
	background-color: #ffd71d;
	text-decoration: none;
}

nav ul {
	margin:0;
	padding:0;
	display: block;
}

nav li {
	margin:0;
	padding:0;
	list-style-type:none;
}

nav li:nth-child(1) > a {
	line-height: 38px;
	border-radius: 10px;
	border: 1px solid #7a7a7a;
	margin-bottom: 20px;
}

nav li:nth-child(2) > a {
	line-height: 38px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 1px solid #7a7a7a;
}

nav li:nth-child(7) > a {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.banner {
	border-radius: 10px;
	border: 1px solid #7a7a7a;
	margin-bottom: 20px;
	text-align: center;
	background-color: #dcdcdc;
	height: 38px;
}

.banner.facebook {
	background-color: #3b5999;
}

footer {
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	margin-top: 20px;
}

footer a {
	text-decoration: underline;
}
