/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* grey */
/* black */
/* yellow */
/* border color */
/* line 25, ../../sass/screen.scss */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black; }

/* line 32, ../../sass/screen.scss */

a {
  color: black;
  &:hover, &:visited {
    color: black; } }

/* line 34, ../../sass/screen.scss */

/* line 39, ../../sass/screen.scss */

html, body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Droid Serif', arial, serif;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc; }

/* line 48, ../../sass/screen.scss */

header.container_12 {
  background-color: white;
  .grid_10 {
    &.bar {
      width: 778px;
      line-height: 18px;
      text-align: center;
      background-color: #ffd71d;
      border-radius: 10px;
      border: 1px solid #7a7a7a;
      margin-top: 20px; }
    &.title {
      width: 778px;
      margin-top: 20px;
      background: url("/images/header.png") center no-repeat;
      background-color: #dcdcdc;
      height: 278px;
      border-radius: 10px;
      border: 1px solid #7a7a7a;
      margin-top: 20px;
      p {
        text-align: right;
        padding-top: 240px;
        padding-right: 80px;
        color: #7a7a7a; } } }
  .grid_8.bar {
    width: 618px;
    line-height: 18px;
    text-align: center;
    background-color: #ffd71d;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    margin-top: 20px; }
  .grid_1.flag {
    width: 58px;
    height: 18px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    margin-top: 20px; } }

/* line 51, ../../sass/screen.scss */

/* line 55, ../../sass/screen.scss */

/* line 62, ../../sass/screen.scss */

/* line 70, ../../sass/screen.scss */

/* line 74, ../../sass/screen.scss */

/* line 81, ../../sass/screen.scss */

article {
  padding-top: 20px;
  background-color: white; }

/* line 86, ../../sass/screen.scss */

section {
  p {
    margin-bottom: 20px; }
  h2, h3, h4 {
    font-family: 'Playfair Display', arial, serif;
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 20px; }
  img {
    height: 300px;
    border-radius: 10px;
    &.thumb {
      float: left;
      margin: 0 20px 20px 0;
      height: 140px;
      width: 140px; } }
  a {
    color: #000000;
    text-decoration: underline;
    transition: #400020;
    transition-duration: 4000ms;
    -webkit-transition: color;
    -webkit-transition-duration: 4000ms;
    -moz-transition: color;
    -moz-transition-duration: 4000ms;
    -o-transition: color;
    -o-transition-duration: 4000ms;
    &:hover {
      color: #ffd71d;
      transition: color;
      transition-duration: 400ms;
      -webkit-transition: color;
      -webkit-transition-duration: 400ms;
      -moz-transition: color;
      -moz-transition-duration: 400ms;
      -o-transition: color;
      -o-transition-duration: 400ms; } }
  ul {
    margin: 20px;
    padding: 0 0 0 20px;
    li.active {
      font-weight: bold;
      text-transform: uppercase;
      a:hover {
        color: black; } } }
  figure {
    img {
      height: 40px;
      width: 40px;
      float: left; }
    p {
      line-height: 40px; } }
  .center {
    text-align: center; }
  #slider {
    margin-bottom: 20px;
    .pagination {
      list-style: none outside none;
      padding-right: 15px;
      overflow: hidden;
      li {
        cursor: pointer;
        display: inline-block;
        background-color: #7a7a7a;
        border-radius: 10px;
        text-indent: 10000px;
        width: 8px;
        height: 8px;
        &.current {
          background-color: #ffd71d; } } } } }

/* line 89, ../../sass/screen.scss */

/* line 97, ../../sass/screen.scss */

/* line 100, ../../sass/screen.scss */

/* line 103, ../../sass/screen.scss */

/* line 106, ../../sass/screen.scss */

/* line 113, ../../sass/screen.scss */

/* line 124, ../../sass/screen.scss */

/* line 136, ../../sass/screen.scss */

/* line 139, ../../sass/screen.scss */

/* line 143, ../../sass/screen.scss */

/* line 150, ../../sass/screen.scss */

/* line 155, ../../sass/screen.scss */

/* line 159, ../../sass/screen.scss */

/* line 162, ../../sass/screen.scss */

/* line 164, ../../sass/screen.scss */

/* line 168, ../../sass/screen.scss */

/* line 176, ../../sass/screen.scss */

/* line 185, ../../sass/screen.scss */

nav img {
  background-color: #dcdcdc;
  width: 298px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid #7a7a7a;
  margin-top: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  &.facebook {
    background-color: #dcdcdc; } }

/* line 192, ../../sass/screen.scss */

/* line 198, ../../sass/screen.scss */

menu {
  width: 300px;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  ul {
    display: block;
    li {
      list-style-type: none;
      a {
        display: block;
        line-height: 39px;
        background-color: #dcdcdc;
        border: 1px solid #7a7a7a;
        border-top: 0px;
        &:hover {
          text-decoration: underline; }
        &.current {
          background-color: #ffd71d; } }
      &:nth-child(1) > a {
        line-height: 38px;
        margin-bottom: 20px;
        border-top: 1px solid #7a7a7a;
        border-radius: 10px; }
      &:nth-child(2) > a {
        line-height: 38px;
        border-top: 1px solid #7a7a7a;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      &:nth-child(7) > a {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; } } } }

/* line 204, ../../sass/screen.scss */

/* line 206, ../../sass/screen.scss */

/* line 208, ../../sass/screen.scss */

/* line 214, ../../sass/screen.scss */

/* line 217, ../../sass/screen.scss */

/* line 221, ../../sass/screen.scss */

/* line 227, ../../sass/screen.scss */

/* line 233, ../../sass/screen.scss */

/* line 241, ../../sass/screen.scss */

footer {
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  .grid_10.bar {
    width: 778px;
    line-height: 18px;
    text-align: center;
    background-color: #ffd71d;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    margin-top: 20px;
    margin-top: 0;
    margin-bottom: 20px; }
  a {
    text-decoration: underline; } }

/* line 247, ../../sass/screen.scss */

/* line 253, ../../sass/screen.scss */
