/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$bg: 		#dcdcdc; /* grey */
$fg: 		#000000; /* black */
$selected: 	#ffd71d; /* yellow */
$bordercolor: 	#7a7a7a; /* border color */
$radius: 	10px;

@mixin rounded {
  	border-radius: $radius;
  	border: 1px solid $bordercolor;
	margin-top: 20px;
}

@mixin barragialla {
	line-height: 18px;
	text-align: center;
	background-color: $selected;
	@include rounded;
}

* {
	margin: 0;
	padding: 0;
    	text-decoration: none;
    	color: $fg; 
}

a {
  	color: $fg;
		&:hover, &:visited {
	    	color: $fg; 
	}
}

html, body {
  	font-size: 16px;
	line-height: 20px;
  	font-family: 'Droid Serif', arial, serif;
  	width: 100%;
  	height: 100%;
  	background-color: $bg;
}

header.container_12 {
  	background-color: white; 
	.grid_10 {
		&.bar {
			width: 778px;
			@include barragialla;
		}
		&.title {
			width: 778px;
			margin-top: 20px;
			background: url('/images/header.png') center no-repeat;
	  		background-color: $bg;
  			height: 278px;
			@include rounded;
		  	p {
				text-align: right;
		   		padding-top: 240px;
		    		padding-right: 80px;
		    		color: $bordercolor; 
			}
		}
	}
	.grid_8.bar {
		width: 618px;
		@include barragialla;
	}
	.grid_1.flag {
		width: 58px;
	  	height: 18px;
		@include rounded;
	}
}

article {
	padding-top: 20px;
  	background-color: white; 
}
section {
	p {
		margin-bottom: 20px; 
	}
	h2, h3, h4 {
	  	font-family: 'Playfair Display', arial, serif;
		text-transform: uppercase;
  		color: $fg;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 20px; 
	}
	h3 {
		font-size: 24px; 
	}
	h4 {
		font-size: 20px; 
	}
	img {
		height: 300px;
		border-radius: $radius;
		&.thumb {
			float: left;
			margin: 0 20px 20px 0;
			height: 140px;
			width: 140px;
	       	}
	}
  	a {
		color: #000000;
    		text-decoration: underline;
    		transition: #400020;
    		transition-duration: 4000ms;
    		-webkit-transition: color;
		-webkit-transition-duration: 4000ms;
   		-moz-transition: color;
    		-moz-transition-duration: 4000ms;
    		-o-transition: color;
    		-o-transition-duration: 4000ms;
	    	&:hover {
      			color: $selected;
	      		transition: color;
	      		transition-duration: 400ms;
	      		-webkit-transition: color;
	      		-webkit-transition-duration: 400ms;
	      		-moz-transition: color;
	      		-moz-transition-duration: 400ms;
	      		-o-transition: color;
	      		-o-transition-duration: 400ms; 
		}
	}
  	ul {
    		margin: 20px;
    		padding: 0 0 0 20px;
    		li.active {
      			font-weight: bold;
      			text-transform: uppercase;
      			a {
        			&:hover {
         				color: $fg; 
				}
			}
		}
	}
	figure {
		img {
			height: 40px;
			width: 40px;
			float: left;
		}
		p {
			line-height: 40px;
		}
	}
	.center {
		text-align: center;
	}
	#slider {
	  	margin-bottom: 20px;
	  	.pagination {
	    		list-style: none outside none;
	    		padding-right: 15px;
	    		overflow: hidden;
	    		li {
	      			cursor: pointer;
		      		display: inline-block;
	      			background-color: $bordercolor;
	      			border-radius: $radius;
		      		text-indent: 10000px;
		      		width: 8px;
		      		height: 8px;
	      			&.current {
		        		background-color: $selected;
				}
			}
		}
	}
}

nav {
	img {
		background-color: $bg;
		width: 298px;
  		height: 38px;
		@include rounded;
		margin-top: 0;
		margin-bottom: 20px;
		&.facebook {
			background-color: $bg;
		}
	}
}

menu {
  	width: 300px;
  	color: #000;
  	text-align: center;
  	text-transform: capitalize;
  	margin-bottom: 20px;
  	ul {
	    	display: block;
	  	li {
	    		list-style-type: none;
		  	a {
	    			display: block;
		    		line-height: 39px;
		    		background-color: $bg;
	  			border: 1px solid $bordercolor;
				border-top: 0px;
		    		&:hover {
		      			text-decoration: underline;
			       	}
		    		&.current {
		      			background-color: $selected;
			       	}
			}
		 	&:nth-child(1) > a {
		      		line-height: 38px;
				margin-bottom: 20px;
		  		border-top: 1px solid $bordercolor;
	  			border-radius: $radius;
		 	}
		    	&:nth-child(2) > a {
		      		line-height: 38px;
		  		border-top: 1px solid $bordercolor;
	  			border-top-left-radius: $radius;
	  			border-top-right-radius: $radius;
			}
		    	&:nth-child(7) > a {
	  			border-bottom-left-radius: $radius;
	  			border-bottom-right-radius: $radius;
			}
		}
	}
}

footer {
	background-color: white;
	padding-bottom: 20px;
	text-align: center;
 	font-size: 12px;
  	line-height: 20px;
	.grid_10.bar {
		width: 778px;
		@include barragialla;
		margin-top: 0;
		margin-bottom: 20px;
	}
  	a {
	    	text-decoration: underline; 
	}
}
