			<a href="http://www.booking.com/index.html?aid=339074" id="booking" title="booking">
				<div class="banner">
					<img src="/images/booking.png" alt="booking" title="booking" />
				</div>
			</a>
			<a href="http://twitter.com/myfairitaly" id="twitter" title="twitter">
				<div class="banner">
					<img src="/images/twitter.png" alt="twitter" title="twitter" />
				</div>
			</a>
			<a href="https://www.facebook.com/pages/My-Fair-Italy/102008026501737" id="facebook" title="facebook">
				<div class="banner facebook">
					<img src="/images/facebook.jpg" alt="facebook" title="facebook" />
				</div>
			</a>
