			<p> My Fair Italy di Feel Italy snc di Giuditta Presenti, Allegra La Rosa, Paola Barsanti &amp; C. ::
			    	Registered Office: v. 25 Aprile 1/A 56024 Ponte a Egola (Pi) :: C.F. 01956590507 :: REA: PI - 0168615 ::
			    	Logo design: Arch. Pietro Dani - DNA STUDIO :: <a href="privacy.html">privacy</a> ::
				<a href="info.html">info</a><br/>
				&copy; 2011 <a href="http://luca.postregna.name">Luca Postregna</a> ::
				<a href="http://validator.w3.org/check?uri=referer">xhtml</a> <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a></p>
