<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ page.lang }}"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }} | My Fair Italy</title>
	<meta name="author" content="Luca Postregna" />
	<meta name="description" content="{{ page.description }}" /> 
	<meta name="keywords" content="{{ page.keywords }}" /> 
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/960_12_col.css">
	<link rel="stylesheet" href="/css/hashgrid.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display&v1">
	<link rel="stylesheet" href="/css/screen.css">
  	<script defer src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<header class="container_12 clearfix">
		<div class="push_1 grid_10">
			<div class="grid_8 alpha">
				<div class="bar">{% if page.lang == 'en' %}
					<p>Organization of holiday's accomodations and events in Tuscany</p>{% else%}
					<p>Agenzia di viaggio ed organizzazione eventi in Toscana</p>{% endif %}
				</div>
			</div>
			<figure class="grid_1">
				<a href="/en" title="english language">
					<img src="/images/en.jpg" title="english language" alt="english flag" class="flag"/>
				</a>
			</figure>
			<figure class="grid_1 omega">
				<a href="/" title="lingua italiana">
					<img src="/images/it.jpg" title="lingua italiana" alt="bandiera italiana" class="flag" />
				</a>
			</figure>
			<div class="grid_10 alpha omega">
				<div class="title">{% if page.lang == 'en' %}
					<a href="/en" title="home">{% else%}
					<a href="/" title="home">{% endif %}
						<h1 class="visuallyhidden">My Fair Italy</h1>
						<p>&reg;</p>
					</a>
			</div>
			<div class="grid_10 alpha omega">
				<div class="bar">{% if page.lang == 'en' %}
					<p>God sends good people to Paradise and very, very good people to Tuscany</p>{% else%}
					<p>Dio manda gli uomini buoni in Paradiso e quelli molto, molto buoni in Toscana</p>{% endif %}
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<article id="content" class="container_12 clearfix">
		<div class="push_1 grid_10">
			<section class="grid_6 alpha">
				{{ content }}
			</section>
			<div class="grid_4 omega">
				<nav> 
					<ul>{% if page.lang == 'en' %}
						<li><a href="/en/contacts.html#content" class="{{ page.contacts }}">contacts</a></li> 
						<li><a href="/en/index.html#content" class="{{ page.home }}">home</a></li> 
						<li><a href="/en/events.html#content" class="{{ page.events }}">events</a></li> 
						<li><a href="/en/travels.html#content" class="{{ page.travels }}">travels</a></li> 
						<li><a href="/en/proposals/#content" class="{{ page.proposal }}">proposal</a></li> 
						<li><a href="/en/galleries/#content" class="{{ page.galleries }}">galleries</a></li> 
						<li><a href="/en/whoweare.html#content" class="{{ page.whoweare }}">who we are</a></li>{% else%}
						<li><a href="/contatti.html#content" class="{{ page.contatti }}">contatti</a></li> 
						<li><a href="/index.html#content" class="{{ page.home }}">home</a></li> 
						<li><a href="/eventi.html#content" class="{{ page.eventi }}">eventi</a></li> 
						<li><a href="/viaggi.html#content" class="{{ page.viaggi }}">viaggi</a></li> 
						<li><a href="/proposte/#content" class="{{ page.proposte }}">proposte</a></li> 
						<li><a href="/gallerie/#content" class="{{ page.gallerie }}">gallerie</a></li> 
						<li><a href="/chisiamo.html#content" class="{{ page.chisiamo }}">chi siamo</a></li>{% endif %}
					</ul> 
				</nav>
				<figure>
					<a href="http://www.booking.com/index.html?aid=339074" title="booking">
						<img src="/images/booking.png" alt="booking" title="booking" class="banner" />
					</a>
				</figure>
				<figure>
					<a href="http://twitter.com/myfairitaly" title="twitter">
						<img src="/images/twitter.png" title="twitter" class="banner" />
					</a>
				</figure>
				<figure>
					<a href="https://www.facebook.com/pages/My-Fair-Italy/102008026501737" title="facebook">
						<img src="/images/facebook.jpg" alt="facebook" title="facebook" class="facebook banner" />
					</a>
				</figure>
			</div>
			<div class="clear"></div>
		</div>
	</article>
	<footer class="container_12 clearfix">
		<div class="push_1 grid_10">
			<div class="bar">
				<p>&star;</p>
			</div>
			<div>
				<p>My Fair Italy di Feel Italy snc di Giuditta Presenti, Allegra La Rosa, Paola Barsanti &amp; C. </p>
				<p>Registered Office: v. 25 Aprile 1/A 56024 Ponte a Egola (Pi) :: C.F. 01956590507 :: REA: PI - 0168615</p>
			        <p>Logo design: Arch. Pietro Dani - DNA STUDIO :: <a href="privacy.html">privacy</a> :: <a href="info.html">info</a></p>
				<p>&copy; 2011 <a href="http://luca.postregna.name">Luca Postregna</a> :: <a href="http://validator.w3.org/check?uri=referer">xhtml</a> :: <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a></p>
			</div>
		</div>
		<div class="clear"></div>
	</footer>
  	<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  	<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.3.min.js"><\/script>')</script>
  	<script defer src="/js/plugins.js"></script>
  	<script defer src="/js/script.js"></script>
	<script defer src="/js/mylibs/hashgrid.js"></script>{% if page.gallerie == 'current' %}
	<script defer src="/js/mylibs/flux.min.js"></script>  
	<script defer src="/js/mylibs/slider.js"></script>{% endif %}
  	<script>
    		var _gaq=[['_setAccount','UA-6164762-11'],['_trackPageview'],['_trackPageLoadTime']];
    		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    		s.parentNode.insertBefore(g,s)}(document,'script'));
  	</script>
  	<!--[if lt IE 7 ]>
    		<script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    		<script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  	<![endif]-->
</body>
</html>
