<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ page.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ page.lang }}"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title}} | My Fair Italy</title>
	<meta name="author" content="Luca Postregna" />
	<meta name="description" content="{{ page.description }}" /> 
	<meta name="keywords" content="{{ page.keywords }}" /> 
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/custom.css" /> 
  	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
	<div id="top" class="container_12">
		<div class="grid_8 prefix_1">
			<div class="barra">
				{% if page.lang == 'en' %}
					<p>Organization of holiday's accomodations and events in Tuscany</p>
				{% else%}
					<p>Agenzia di viaggio ed organizzazione eventi in Toscana</p>
				{% endif %}
			</div>
		</div>
		<div id="flagit" class="grid_1">
			<a href="/" title="lingua italiana">
				<p class="hide">lingua italiana</p>
			</a>
		</div>
		<div id="flagen" class="grid_1">
			<a href="/en" title="english language">
				<p class="hide">english language</p>
			</a>
		</div>
		<div class="clear"></div>
		<header class="grid_10 prefix_1">
			<div id="title">
				{% if page.lang == 'en' %}
					<a href="/en" title="home">
				{% else%}
					<a href="/" title="home">
				{% endif %}
					<h1 class="hide">My Fair Italy</h1>
					<p>&reg;</p>
					</a>
			</div>
		</header>
		<div class="clear"></div>
		<div class="grid_10 prefix_1">
			<div class="barra">
				{% if page.lang == 'en' %}
					<p>God sends good people to Paradise and very, very good people to Tuscany</p>
				{% else%}
					<p>Dio manda gli uomini buoni in Paradiso e quelli molto, molto buoni in Toscana</p>
				{% endif %}
			</div>
		</div>
		<div class="clear"></div>
	</div><!-- end top -->
	<div id="middle" class="container_12">
		<div id="boxsx" class="grid_6 prefix_1">
			{{ content }}
		</div><!-- end boxsx -->
		<div id="boxdx" class="grid_4 suffix_1">
			<nav>
				<ul> 
					{% if page.lang == 'en' %}
						<li><a href="/contacts.html" class="{{ page.contacts }}">contacts</a></li> 
						<li><a href="/index.html" class="{{ page.home }}">home</a></li> 
						<li><a href="/events.html" class="{{ page.events }}">events</a></li> 
						<li><a href="/travels.html" class="{{ page.travels }}">travels</a></li> 
						<li><a href="/proposals/" class="{{ page.proposal }}">proposal</a></li> 
						<li><a href="/gallery/" class="{{ page.gallery }}">gallery</a></li> 
						<li><a href="/whoweare.html" class="{{ page.whoweare }}">who we are</a></li> 
					{% else%}
						<li><a href="/contatti.html" class="{{ page.contatti }}">contatti</a></li> 
						<li><a href="/index.html" class="{{ page.home }}">home</a></li> 
						<li><a href="/eventi.html" class="{{ page.eventi }}">eventi</a></li> 
						<li><a href="/viaggi.html" class="{{ page.viaggi }}">viaggi</a></li> 
						<li><a href="/proposte/" class="{{ page.proposte }}">proposte</a></li> 
						<li><a href="/galleria/" class="{{ page.galleria }}">galleria</a></li> 
						<li><a href="/chisiamo.html" class="{{ page.chisiamo }}">chi siamo</a></li> 
					{% endif %}
				</ul> 
			</nav>
			<a href="http://www.booking.com/index.html?aid=339074" id="booking" title="booking">
				<div class="banner">
					<img src="/images/booking.png" alt="booking" title="booking" />
				</div>
			</a>
			<a href="http://twitter.com/myfairitaly" id="twitter" title="twitter">
				<div class="banner">
					<img src="/images/twitter.png" alt="twitter" title="twitter" />
				</div>
			</a>
			<a href="https://www.facebook.com/pages/My-Fair-Italy/102008026501737" id="facebook" title="facebook">
				<div class="banner facebook">
					<img src="/images/facebook.jpg" alt="facebook" title="facebook" />
				</div>
			</a>
		</div><!-- end boxdx -->
		<div class="clear"></div>
	<div><!-- end middle -->
	<div id="bottom" class="container_12">
		<div class="grid_10 prefix_1">
			<div class="barra">
				<p class="hide">my fair italy</p>
			</div>
		</div>
		<div class="clear"></div>
		<footer class="grid_10 prefix_1">
			<p> My Fair Italy di Feel Italy snc di Giuditta Presenti, Allegra La Rosa, Paola Barsanti &amp; C. ::
			    Registered Office: v. 25 Aprile 1/A 56024 Ponte a Egola (Pi) :: C.F. 01956590507 :: REA: PI - 0168615 ::
			    Logo design: Arch. Pietro Dani - DNA STUDIO :: <a href="privacy.html">privacy</a> ::
			    <a href="''' + prefix + '''info.html">info</a><br/>
				&copy; ''' + str(current_time.year) + ''' <a href="http://luca.postregna.name">Luca Postregna</a> ::
				update: ''' + str(current_time.strftime("%Y%m%d")) + ''' ::
			<a href="http://validator.w3.org/check?uri=referer">xhtml</a> <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a>
		</footer>
		<div class="clear"></div>
	</div><!--end bottom -->
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.3.min.js"><\/script>')</script>
  	<script defer src="/js/plugins.js"></script>
  	<script defer src="/js/script.js"></script>
	<script defer src="/js/mylibs/hashgrid.js"></script>  
	<script defer src="/js/mylibs/flux.min.js"></script>
	<script defer src="/js/mylibs/slider.js"></script> 
	<script defer src="/js/mylibs/block.js"></script> 
  	<script>
    		var _gaq=[['_setAccount','UA-6164762-11'],['_trackPageview'],['_trackPageLoadTime']];
    		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    		s.parentNode.insertBefore(g,s)}(document,'script'));
  	</script>
  	<!--[if lt IE 7 ]>
    		<script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    		<script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  	<![endif]-->
</body>
</html>
