---
layout: gallery
path: '/images/gallery/gadgets'
slider:
   - name: '01.jpg'
     title: 
       it: 't-shirt'
       en: 't-shirt'
     alt:
       it: 't-shirts personalizzabili con logo'
       en: 'personalized t-shirts with a logo'
   - name: '02.jpg'
     title: 
       it: 'penne a sfera'
       en: 'rollerballs'
     alt:
       it: 'penne personalizzabili con logo'
       en: 'personalized rollerballs with a logo'
   - name: '03.jpg'
     title: 
       it: 'penna con laccetto'
       en: 'rollerball with lanyard'
     alt:
       it: 'penna mini personalizzabile'
       en: 'perzonalized mini pen'
   - name: '04.jpg'
     title: 
       it: 'penna metallo'
       en: 'metal rollerball'
     alt:
       it: 'penna metallo personalizzabile'
       en: 'personalized pen'
   - name: '05.jpg'
     title: 
       it: 'orologio'
       en: 'watch'
     alt:
       it: 'orologio personalizzabile con marchio'
       en: 'personalized watch with a mark'
   - name: '06.jpg'
     title: 
       it: 'portapenne'
       en: 'pencil box'
     alt:
       it: 'portapenne con orologio da tavolo'
       en: 'pencilbox with desk watch'
   - name: '07.jpg'
     title: 
       it: 'orologio da scrivania'
       en: 'desk watch'
     alt:
       it: 'orologio portafoto digitali'
       en: 'watch and digital photo frame'
   - name: '08.jpg'
     title: 
       it: 'laccetti per cellulare'
       en: 'mobile lanyard'
     alt:
       it: 'laccetti multicolor personalizzabili'
       en: 'coloured and personalized lanyards'
   - name: '09.jpg'
     title: 
       it: 'portacellulari'
       en: 'mobile case'
     alt:
       it: 'calzette portacellulari multicolor personalizzabili'
       en: 'coloured and personalized mobile case'
   - name: '10.jpg'
     title: 
       it: 'set sommelier'
       en: 'set sommelier'
     alt:
       it: 'astuccio sommelier deluxe in legno'
       en: 'wooden set sommelier'
   - name: '11.jpg'
     title: 
       it: 'confezione vino'
       en: 'wine box'
     alt:
       it: 'astuccio sommelier deluxe pelle'
       en: 'leather set sommelier'
   - name: '12.jpg'
     title: 
       it: 'penna usb'
       en: 'pendrive'
     alt:
       it: 'penna usb personalizzabile'
       en: 'personalized pendrives'
   - name: '13.jpg'
     title: 
       it: 'portachiavi'
       en: 'key-ring'
     alt:
       it: 'portachiavi in gomma personalizzabili'
       en: 'personalized rubber keyrings'
   - name: '14.jpg'
     title: 
       it: 'cappellino'
       en: 'baseball cap'
     alt:
       it: 'cappellino colorato per stampa logo'
       en: 'coloured and personalized baseball cap'
   - name: '15.jpg'
     title: 
       it: 'ombrelli'
       en: 'umbrellas'
     alt:
       it: 'ombrelli bicolore per stampa marchio'
       en: 'two-coloured and personalized umbrellas'
   - name: '16.jpg'
     title: 
       it: 'matite colorate'
       en: 'crayons'
     alt:
       it: 'astuccio in legno personalizzabile'
       en: 'personalized crayonbox'
   - name: '17.jpg'
     title: 
       it: 'shop in tela'
       en: 'shopper'
     alt:
       it: 'borsa in tela stampabile'
       en: 'printable fabric bag'
   - name: '18.jpg'
     title: 
       it: 'zainetto'
       en: 'small backpack'
     alt:
       it: 'zainetto bicolor stampabile'
       en: 'two-coloured personalized small backpack'
   - name: '19.jpg'
     title: 
       it: 'porta cd'
       en: 'cd holder'
     alt:
       it: 'porta cd nero personalizzabile'
       en: 'black personalized cd-caddy'
---
