---
layout: default

gadgets:
   - file: '01.jpg'
     title: 
       it: 't-shirt'
       en: 't-shirt'
     alt:
       it: 't-shirts personalizzabili con logo'
       en: 'personalized t-shirts with a logo'
   - file: '02.jpg'
     title: 
       it: 'penne a sfera'
       en: 'rollerballs'
     alt:
       it: 'penne personalizzabili con logo'
       en: 'personalized rollerballs with a logo'
   - file: '03.jpg'
     title: 
       it: 'penna con laccetto'
       en: 'rollerball with lanyard'
     alt:
       it: 'penna mini personalizzabile'
       en: 'perzonalized mini pen'
   - file: '04.jpg'
     title: 
       it: 'penna metallo'
       en: 'metal rollerball'
     alt:
       it: 'penna metallo personalizzabile'
       en: 'personalized pen'
   - file: '05.jpg'
     title: 
       it: 'orologio'
       en: 'watch'
     alt:
       it: 'orologio personalizzabile con marchio'
       en: 'personalized watch with a mark'
   - file: '06.jpg'
     title: 
       it: 'portapenne'
       en: 'pencil box'
     alt:
       it: 'portapenne con orologio da tavolo'
       en: 'pencilbox with desk watch'
   - file: '07.jpg'
     title: 
       it: 'orologio da scrivania'
       en: 'desk watch'
     alt:
       it: 'orologio portafoto digitali'
       en: 'watch and digital photo frame'
   - file: '08.jpg'
     title: 
       it: 'laccetti per cellulare'
       en: 'mobile lanyard'
     alt:
       it: 'laccetti multicolor personalizzabili'
       en: 'coloured and personalized lanyards'
   - file: '09.jpg'
     title: 
       it: 'portacellulari'
       en: 'mobile case'
     alt:
       it: 'calzette portacellulari multicolor personalizzabili'
       en: 'coloured and personalized mobile case'
   - file: '10.jpg'
     title: 
       it: 'set sommelier'
       en: 'set sommelier'
     alt:
       it: 'astuccio sommelier deluxe in legno'
       en: 'wooden set sommelier'
   - file: '11.jpg'
     title: 
       it: 'confezione vino'
       en: 'wine box'
     alt:
       it: 'astuccio sommelier deluxe pelle'
       en: 'leather set sommelier'
   - file: '12.jpg'
     title: 
       it: 'penna usb'
       en: 'pendrive'
     alt:
       it: 'penna usb personalizzabile'
       en: 'personalized pendrives'
   - file: '13.jpg'
     title: 
       it: 'portachiavi'
       en: 'key-ring'
     alt:
       it: 'portachiavi in gomma personalizzabili'
       en: 'personalized rubber keyrings'
   - file: '14.jpg'
     title: 
       it: 'cappellino'
       en: 'baseball cap'
     alt:
       it: 'cappellino colorato per stampa logo'
       en: 'coloured and personalized baseball cap'
   - file: '15.jpg'
     title: 
       it: 'ombrelli'
       en: 'umbrellas'
     alt:
       it: 'ombrelli bicolore per stampa marchio'
       en: 'two-coloured and personalized umbrellas'
   - file: '16.jpg'
     title: 
       it: 'matite colorate'
       en: 'crayons'
     alt:
       it: 'astuccio in legno personalizzabile'
       en: 'personalized crayonbox'
   - file: '17.jpg'
     title: 
       it: 'shop in tela'
       en: 'shopper'
     alt:
       it: 'borsa in tela stampabile'
       en: 'printable fabric bag'
   - file: '18.jpg'
     title: 
       it: 'zainetto'
       en: 'small backpack'
     alt:
       it: 'zainetto bicolor stampabile'
       en: 'two-coloured personalized small backpack'
   - file: '19.jpg'
     title: 
       it: 'porta cd'
       en: 'cd holder'
     alt:
       it: 'porta cd nero personalizzabile'
       en: 'black personalized cd-caddy'
       
accommodations:
   - file: '01.jpg'
     title: 
       it: 'vista da casa vacanze a San Miniato'
       en: 'panoramic view from a villa in San Miniato'
     alt:
       it: 'panorama San Miniato'
       en: 'landscape of san miniato'
   - file: '02.jpg'
     title: 
       it: 'piscina in giardino agriturismo in Toscana'
       en: 'garden with a swimming pool in a farmhouse in Tuscany'
     alt:
       it: 'piscina'
       en: 'swimming pool'
   - file: '03.jpg'
     title: 
       it: 'interni villa Ostignano'
       en: 'Inside area of Villa Ostignano'
     alt:
       it: 'bagno agriturismo'
       en: 'bathroom'
   - file: '04.jpg'
     title: 
       it: 'camere villa Ostignano'
       en: 'Rooms of Villa Ostignano'
     alt:
       it: 'camera romantic'
       en: 'romantic room'
   - file: '05.jpg'
     title: 
       it: 'esterno villa a Bucciano'
       en: 'Outside area of a Villa in Bucciano'
     alt:
       it: 'Villa a San Miniato'
       en: 'villa in san miniato'
   - file: '06.jpg'
     title: 
       it: 'giardino casa vacanze Bucciano'
       en: 'garden of an accomodation in Bucciano'
     alt:
       it: 'parco villa'
       en: 'park'
   - file: '07.jpg'
     title: 
       it: 'esterni agriturismo San Miniato'
       en: 'outside area of a Farmhouse in San Miniato'
     alt:
       it: 'piazzetta residence'
       en: 'small square'
   - file: '08.jpg'
     title: 
       it: 'Chiesetta consacrata San Miniato'
       en: 'Small church in San Miniato'
     alt:
       it: 'Chiesa privata'
       en: 'private church'
   - file: '09.jpg'
     title: 
       it: 'cappella privata nel parco'
       en: 'Small chapel in a park'
     alt:
       it: 'Cappella privata'
       en: 'private chapel'
   - file: '10.jpg'
     title: 
       it: 'camere Hotel San Miniato'
       en: 'Rooms of Hotel San Miniato'
     alt:
       it: 'suite deluxe'
       en: 'suite deluxe'
       
ideas:
   - file: '01.jpg'
     title: 
       it: 'comunion'
       en: 'holy communion'
     alt:
       it: 'allestimento tavolo fucsia'
       en: 'fuchsia table mounting'
   - file: '02.jpg'
     title: 
       it: 'compleanno'
       en: 'birthday'
     alt:
       it: 'allestimento tavolo frutti di bosco'
       en: 'soft fruit table mounting'
   - file: '03.jpg'
     title: 
       it: 'rivoluzione francese'
       en: 'french revolution'
     alt:
       it: 'bandiera con palloni ad elio'
       en: 'balloned flag'
   - file: '04.jpg'
     title: 
       it: 'rosa di piatti'
       en: 'a rose'
     alt:
       it: 'disposizione piatti di carta'
       en: 'paper dish mounting'
   - file: '05.jpg'
     title: 
       it: 'halloween'
       en: 'halloween'
     alt:
       it: 'piatti arancio e neri'
       en: 'black and orang dish'
   - file: '06.jpg'
     title: 
       it: 'ragnatele'
       en: 'cobweb'
     alt:
       it: 'allestimento festa bambini'
       en: 'children party mounting'
   - file: '07.jpg'
     title: 
       it: 'fantasma'
       en: 'gost'
     alt:
       it: 'festa di halloween'
       en: 'halloween party'
   - file: '08.jpg'
     title: 
       it: 'dottore pazzo'
       en: 'crazy doctor'
     alt:
       it: 'animatori per ragazzi'
       en: 'children animators'
   - file: '09.jpg'
     title: 
       it: 'fiori e bottoni'
       en: 'buttons and flowers'
     alt:
       it: 'creazione divano patchwork'
       en: 'patchwork sofa'
   - file: '10.jpg'
     title: 
       it: 'bolle di vetro'
       en: 'glass bubbles'
     alt:
       it: 'installazione mostra fotografica'
       en: 'photos exhibition' 
       
locationsceremonies:
   - file: '01.jpg'
     title: 
       it: 'ricevimento all aperto'
       en: 'open air party'
     alt:
       it: 'disposizione tavoli in giardino'
       en: 'tables setting in the garden'
   - file: '02.jpg'
     title: 
       it: 'matrimonio in giallo'
       en: 'yellow wedding'
     alt:
       it: 'allestimento tavolo girasoli e palloncini'
       en: 'sunflower and balloon table'
   - file: '03.jpg'
     title: 
       it: 'viale illuminato'
       en: 'lightened path'
     alt:
       it: 'faretti ingresso Villa in Toscana'
       en: 'tuscany villa lights'
   - file: '04.jpg'
     title: 
       it: 'ricevimento nel parco'
       en: 'party in the park'
     alt:
       it: 'angolo aperitivo location all aperto'
       en: 'open air aperitif corner'
   - file: '05.jpg'
     title: 
       it: 'Cerimonia in giardino'
       en: 'garden ceremony'
     alt:
       it: 'allestimento matrimonio bianco e vimini'
       en: 'white and wicker wedding'
   - file: '06.jpg'
     title: 
       it: 'ricevimento nella villa'
       en: 'party in villa'
     alt:
       it: 'allestimento tavoli in bianco e rosso'
       en: 'white and red tables'
   - file: '07.jpg'
     title: 
       it: 'interni villa'
       en: 'villa'
     alt:
       it: 'zona relax villa Dianella'
       en: 'relax zone at villa'
   - file: '08.jpg'
     title: 
       it: 'Interno Cattedrale'
       en: 'cathedral dome inside'
     alt:
       it: 'Duomo a San Miniato'
       en: 'san miniato cathedral'
   - file: '09.jpg'
     title: 
       it: 'Sala degli stemmi'
       en: 'Sala degli stemmi'
     alt:
       it: 'sala cerimonie Comune San Miniato'
       en: 'ceremony hall at san miniato city hall'
   - file: '10.jpg'
     title: 
       it: 'Sala delle sette Virtù'
       en: 'Sala delle sette Virtù'
     alt:
       it: 'sala cerimonie Comune San Miniato'
       en: 'ceremony hall at san miniato city hall'
   - file: '11.jpg'
     title: 
       it: 'Santissimo Crocifisso'
       en: 'Santissimo Crocifisso'
     alt:
       it: 'chiesa a San Miniato'
       en: 'san miniato church'
   - file: '12.jpg'
     title: 
       it: 'Duomo'
       en: 'cathedral dome'
     alt:
       it: 'cattedrale a San Miniato'
       en: 'san miniato cathedral'

locationscorporate:
   - file: '01.jpg'
     title: 
       it: 'San Martino'
       en: 'San Martino'
     alt:
       it: 'sala meetings Hotel San Miniato'
       en: 'meeting room hotel san miniato'
   - file: '02.jpg'
     title: 
       it: 'Villa Sonnino'
       en: 'Villa Sonnino'
     alt:
       it: 'panoramica struttura per meetings a San Miniato'
       en: 'wide shot of a meeting room in San Miniato'
   - file: '03.jpg'
     title: 
       it: 'meeting a Firenze'
       en: 'meeting in Florence'
     alt:
       it: 'sala meetings maxischermo'
       en: 'meeting room with maxi screen'
   - file: '04.jpg'
     title: 
       it: 'sala conferenze'
       en: 'meeting room'
     alt:
       it: 'sala conferenze a Firenze'
       en: 'meeting room in Florence'
   - file: '05.jpg'
     title: 
       it: 'sala meetings aziendali'
       en: 'corporate meeting'
     alt:
       it: 'sala meetings circolare'
       en: 'circular meeting room'
   - file: '06.jpg'
     title: 
       it: 'meeting in agriturismo'
       en: 'farmhouse meeting room'
     alt:
       it: 'sala meeting agriturismo in Toscana'
       en: 'meeting room in a farmhouse in Tuscany'
   - file: '07.jpg'
     title: 
       it: 'meeting in hotel'
       en: 'hotel meeting room'
     alt:
       it: 'sala conferenze interno hotel in toscana'
       en: 'Meeting room in a hotel in Tuscany'
   - file: '08.jpg'
     title: 
       it: 'sala riunioni'
       en: 'assembly room'
     alt:
       it: 'allestimento sala workshop'
       en: 'set up of a workshop room'
   - file: '09.jpg'
     title: 
       it: 'sala conferenze'
       en: 'meeting room'
     alt:
       it: 'meeting aziendale sala moderna'
       en: 'Modern meeting room'
   - file: '10.jpg'
     title: 
       it: 'sala riunioni'
       en: 'assembly room'
     alt:
       it: 'allestimento sala riunioni'
       en: 'set up of a meeting room'
   - file: '11.jpg'
     title: 
       it: 'Villa Sonnino'
       en: 'Villa Sonnino'
     alt:
       it: 'sala meeting Villa Sonnino a San Miniato'
       en: 'meeting room in Villa Sonnino in San Miniato area'
   - file: '12.jpg'
     title: 
       it: 'vista su Roma'
       en: 'roman landscape'
     alt:
       it: 'panorama dalla terrazza panoramica'
       en: 'landscape from an observation platform'
   - file: '13.jpg'
     title: 
       it: 'hotel San Miniato'
       en: 'hotel San Miniato'
     alt:
       it: 'reception struttura per meetings a San Miniato'
       en: 'reception of a business hotel in San Miniato'
   - file: '14.jpg'
     title: 
       it: 'Hotel Miravalle'
       en: 'Hotel Miravalle'
     alt:
       it: 'location per meetings a San Miniato'
       en: 'meetings area in San Miniato'

renderings:
   - file: '01.jpg'
     title: 
       it: 'Rendering bacardi'
       en: 'rendering for bacardi'
     alt:
       it: 'rendering per allestimento bacardi'
       en: 'rendering for the set up of bacardi'
   - file: '02.jpg'
     title: 
       it: 'rendering salone del mobile'
       en: 'rendering salone del mobile'
     alt:
       it: 'rendering con installazioni verticali'
       en: 'rendering for the set up of salone del mobile'
   - file: '03.jpg'
     title: 
       it: 'rendering ingresso hotel'
       en: 'rendering hotel hall'
     alt:
       it: 'rendering per installazione in legno'
       en: 'rendering for wooden the setting up'
   - file: '04.jpg'
     title: 
       it: 'bolle di vetro'
       en: 'gazing ball'
     alt:
       it: 'allestimento mostra fotografica'
       en: 'set up for the photographic exibition'
   - file: '05.jpg'
     title: 
       it: 'particolare di divano'
       en: 'details of sofa'
     alt:
       it: 'copertura divano con fiori di stoffa'
       en: 'coach covered  with fabric flowers'
   - file: '06.jpg'
     title: 
       it: 'rendering palco radio dj'
       en: 'radio dj stand'
     alt:
       it: 'rendering per realizzazione palco'
       en: 'rendering for the creation of a stage'
   - file: '07.jpg'
     title: 
       it: 'banco coktail bar'
       en: 'bar counter'
     alt:
       it: 'rendering con installazioni statue gesso'
       en: 'rendering with plaster statues'
   - file: '08.jpg'
     title: 
       it: 'zona relax'
       en: 'spa area'
     alt:
       it: 'rendering installazioni in bianco'
       en: 'rendering white set ups'
   - file: '09.jpg'
     title: 
       it: 'divanetti bianchi'
       en: 'white sofas'
     alt:
       it: 'rendering con struttura centrale rotonda'
       en: 'rendering with central round frame'
   - file: '10.jpg'
     title: 
       it: 'mostra mobili'
       en: 'furniture showroom'
     alt:
       it: 'rendering per esposizione mobili'
       en: 'rendering for the showroom of furniture'
   - file: '11.jpg'
     title: 
       it: 'gondole'
       en: 'gondolas'
     alt:
       it: 'rendering per installazioni gondole legno'
       en: 'rendering for the set up of gondolas'
       
weddings:
   - file: '01.jpg'
     title: 
       it: 'matrimonio a San Miniato'
       en: 'wedding in san miniato'
     alt:
       it: 'location medievale servizio fotografico'
       en: 'medieval location for photos'
   - file: '02.jpg'
     title: 
       it: 'bomboniera romantica'
       en: 'romantic gift'
     alt:
       it: 'bomboniera tulle e capodimonte'
       en: 'characteristic gift for the wedding guests'
   - file: '03.jpg'
     title: 
       it: 'sposa classica'
       en: 'classical bride'
     alt:
       it: 'acconciatura e bouquet in bianco'
       en: 'white bouquet and hairdo'
   - file: '04.jpg'
     title: 
       it: 'maggiolone rosso'
       en: 'red beetle'
     alt:
       it: 'allestimento auto matrimonio con girasoli'
       en: 'sunflower mounting wedding car'
   - file: '05.jpg'
     title: 
       it: 'matrimonio in uniforme'
       en: 'military wedding'
     alt:
       it: 'bacio e bouquet di rose bianche'
       en: 'romantic kiss on white roses'
   - file: '06.jpg'
     title: 
       it: 'sposarsi in carrozza'
       en: 'wedding on a cerimonial carriage'
     alt:
       it: 'calesse e ombrellino'
       en: 'coach and umbrella'
   - file: '07.jpg'
     title: 
       it: 'chitarra'
       en: 'photos details'
     alt:
       it: 'particolare servizio fotografico'
       en: 'playing guitar during the wedding'
   - file: '08.jpg'
     title: 
       it: 'balcone fiorito'
       en: 'flowered balcony'
     alt:
       it: 'location matrimonio in Toscana'
       en: 'tuscan wedding'
   - file: '09.jpg'
     title: 
       it: 'matrimonio sull aia'
       en: 'country wedding'
     alt:
       it: 'girotondo durante il ricevimento'
       en: 'ring a ring a roses'
   - file: '10.jpg'
     title: 
       it: 'sposi e grano'
       en: 'bride and groon in the grain'
     alt:
       it: 'servizio fotografico campagna toscana'
       en: 'tuscany countryside photo'
   - file: '11.jpg'
     title: 
       it: 'sposi in bianco e nero'
       en: 'wedding in black and white'
     alt:
       it: 'foto matrimonio vintage'
       en: 'vintage wedding'
   - file: '12.jpg'
     title: 
       it: 'new beetle'
       en: 'new beetle'
     alt:
       it: 'auto bianca per la sposa'
       en: 'white car for the bride'
   - file: '13.jpg'
     title: 
       it: 'maggiolino bianco'
       en: 'white new beetle'
     alt:
       it: 'invitati al matrimonio'
       en: 'wedding guests'
   - file: '14.jpg'
     title: 
       it: 'Rocca di San Miniato'
       en: 'Rocca di San Miniato'
     alt:
       it: 'servizio fotografico all aperto'
       en: 'open air photos'
   - file: '15.jpg'
     title: 
       it: 'Salice sul lago'
       en: 'willow on the lake'
     alt:
       it: 'sposi in riva al lago'
       en: 'lakeside wedding'
   - file: '16.jpg'
     title: 
       it: 'sposa al tramonto'
       en: 'bride in the sunset'
     alt:
       it: 'sposa in bianco a San Miniato'
       en: 'white bride in san miniato'
   - file: '17.jpg'
     title: 
       it: 'sposi a San Miniato'
       en: 'bridge and groon in san miniato'
     alt:
       it: 'vialetto accesso Rocca di San Miniato'
       en: 'rocca di san miniato path'
   - file: '18.jpg'
     title: 
       it: 'Banchetto in bianco'
       en: 'White banqueting'
     alt:
       it: 'allestimento tavolo imperiale in bianco'
       en: 'white set up of imperial table'
   - file: '19.jpg'
     title: 
       it: 'centrotavola bamboo e rose bianche'
       en: 'white roses and bamboo center-piece'
     alt:
       it: 'centrotavola su misura per tavolo imperiale matrimonio'
       en: 'wedding imperial table tailored center-piece'
   - file: '20.jpg'
     title: 
       it: 'angolo buffet con vista'
       en: 'buffet corner with view'
     alt:
       it: 'angolo aperitivi in bianco agriturismo a san miniato'
       en: 'appetizers white corner in San Miniato Agriturismo'
---

<h3>{{ page.title }}</h3>
<!--
<div class="controls center"> 
	<a href="#" onclick="window.slider.start();return false;">play</a> |
	<a href="#" onclick="window.slider.stop();return false;">stop</a> | 
	<a href="#" onclick="window.slider.prev();return false;">prev</a> |
	<a href="#" onclick="window.slider.prev();return false;">next</a> 
</div> -->
<div id="slider">
{% case page.path %}
	{% when 'accommodations' %}
		{% for target in page.accommodations %}
	<img src="/images/galleries/accommodations/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'gadgets' %}
		{% for target in page.gadgets %}
	<img src="/images/galleries/gadgets/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'ideas' %}
		{% for target in page.ideas %}
	<img src="/images/galleries/ideas/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'locationsceremonies' %}
		{% for target in page.locationsceremonies %}
	<img src="/images/galleries/locationsceremonies/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'locationscorporate' %}
		{% for target in page.locationscorporate %}
	<img src="/images/galleries/locationscorporate/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'renderings' %}
		{% for target in page.renderings %}
	<img src="/images/galleries/renderings/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
		{% endfor %}
	{% when 'weddings' %}
		{% for target in page.weddings %}
	<img src="/images/galleries/weddings/{{target.file}}" {% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}" {% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" {% endif %} />
	{% endfor %}
{% endcase %}
</div>
