---
layout: default
---

{{ content }} 

<h3 class="center">{{ page.title }}</h3>
<div class="controls center"> 
	<a href="#" onclick="window.slider.start();return false;">play</a> |
	<a href="#" onclick="window.slider.stop();return false;">stop</a> | 
	<a href="#" onclick="window.slider.prev();return false;">prev</a> |
	<a href="#" onclick="window.slider.prev();return false;">next</a> 
</div> 
<div id="slider">{% for target in page.slider %}{% capture fullpath %}{{ page.path }}/{{ target.name }}{% endcapture %}
	<img src="{{ fullpath }}"{% if page.lang == 'en' %}
       		alt="{{ target.alt.en }}" title="{{ target.title.en }}"{% else %}
		alt="{{ target.alt.it }}" title="{{ target.title.it }}" />{% endif %}{% endfor %}
</div>
