---
layout: gallery
path: '/images/gallery/ideas'
slider:
   - name: '01.jpg'
     title: 
       it: 'comunion'
       en: 'holy communion'
     alt:
       it: 'allestimento tavolo fucsia'
       en: 'fuchsia table mounting'
   - name: '02.jpg'
     title: 
       it: 'compleanno'
       en: 'birthday'
     alt:
       it: 'allestimento tavolo frutti di bosco'
       en: 'soft fruit table mounting'
   - name: '03.jpg'
     title: 
       it: 'rivoluzione francese'
       en: 'french revolution'
     alt:
       it: 'bandiera con palloni ad elio'
       en: 'balloned flag'
   - name: '04.jpg'
     title: 
       it: 'rosa di piatti'
       en: 'a rose'
     alt:
       it: 'disposizione piatti di carta'
       en: 'paper dish mounting'
   - name: '05.jpg'
     title: 
       it: 'halloween'
       en: 'halloween'
     alt:
       it: 'piatti arancio e neri'
       en: 'black and orang dish'
   - name: '06.jpg'
     title: 
       it: 'ragnatele'
       en: 'cobweb'
     alt:
       it: 'allestimento festa bambini'
       en: 'children party mounting'
   - name: '07.jpg'
     title: 
       it: 'fantasma'
       en: 'gost'
     alt:
       it: 'festa di halloween'
       en: 'halloween party'
   - name: '08.jpg'
     title: 
       it: 'dottore pazzo'
       en: 'crazy doctor'
     alt:
       it: 'animatori per ragazzi'
       en: 'children animators'
   - name: '09.jpg'
     title: 
       it: 'fiori e bottoni'
       en: 'buttons and flowers'
     alt:
       it: 'creazione divano patchwork'
       en: 'patchwork sofa'
   - name: '10.jpg'
     title: 
       it: 'bolle di vetro'
       en: 'glass bubbles'
     alt:
       it: 'installazione mostra fotografica'
       en: 'photos exhibition' 
---
