---
layout: default
slider:
   - name: '1.jpg'
     title: 
       it: 'matrimonio a San Miniato'
       en: 'wedding in San Miniato'
     alt:
       it: 'palazzo del seminario a San Miniato'
       en: 'palazzo del seminario in San Miniato'
   - name: '2.jpg'
     title: 
       it: 'villa con piscina'
       en: 'swimmingpool'
     alt:
       it: 'piscina con vista sui colli toscani'
       en: 'swimmingpool and tuscans landascape'
   - name: '3.jpg'
     title: 
       it: 'mongolfiera sul Chianti'
       en: 'hotairbaloon over Chianti hills'
     alt:
       it: 'volare in mongolfiera sulle colline toscane'
       en: 'flying with hotairbaloon over tuscany'
   - name: '4.jpg'
     title: 
       it: 'allestimento locale'
       en: 'renderings'
     alt:
       it: 'rendering con installazioni in gesso'
       en: 'rendering with installations plaster'
   - name: '5.jpg'
     title: 
       it: 'ricevimento a San Miniato'
       en: 'party in San Miniato'
     alt:
       it: 'allestimento buffet e degustazioni a San Miniato'
       en: 'party and tasting in San Miniato'
   - name: '6.jpg'
     title: 
       it: 'le socie'
       en: 'my fair Italy CEOs'
     alt:
       it: 'le titolari di my fair italy'
       en: 'my fair Italy CEOs'
   - name: '7.jpg'
     title: 
       it: 'villa in Toscana'
       en: 'Tuscany villa'
     alt:
       it: 'villa tra gli uliveti'
       en: 'villa and oliv trees'

---

<h2>{{ page.title }}</h2>

{{ content }}

<div id="sliderhome">{% for target in page.slider %}{% if page.lang == 'en' %}
	<img src="/images/home/{{ target.name }}" alt="{{ target.alt.en }}" title="{{ target.title.en }}" />{% else %}
	<img src="/images/home/{{ target.name }}" alt="{{ target.alt.it }}" title="{{ target.title.it }}" />{% endif %}{% endfor %}
</div>

