---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

{% for p in site.pages %}
{% if p.proposals == 'current' and p.displayhome == 'display' and p.lang == 'it' p.displayhome == 'display' %}
<div class='h160'>
<a href="{{ p.url }}#content">
	<img src='/images/proposal/{{ p.image }}' title='{{p.title}}' alt='{{p.title}}' class='thumb'/>
</a>
<a href="{{ p.url }}#content" title='{{p.title}}'>
	<h4>{{ p.title }}</h4>
</a>
<span class='bold'>Periodo</span>: {{p.time}}<br/>
<span class='bold'>Durata</span>: {{p.duration}}<br/>
<span class='bold'>Descrizione</span>: {{p.description}}
</div>
{% endif %}
{% endfor %}
